.btnStyled{
    @extend %btnStyled;
    font-family: $Text-font-Hiragino-Sans;font-weight: 600;
    background-color: $primary;
    transition: all 350ms ease 0s;
    @include media-breakpoint-up(lg) {
        height: 70px;
        line-height: 70px;
        font-size: 20px;
    }
    @include media-breakpoint-up(md) {
        height: 55px;
        line-height: 55px;
        font-size: 19px;
    }
    @include media-breakpoint-up(sm) {
        font-size: 15px;
    }
    .arrowIcons{
        position: absolute;
        left: auto;
        right: 25px;
        font-size: 35px;
        @include media-breakpoint-up(md) {right: 15px;font-size: 22px;}

    }
    .cartIcon{
        position: absolute;
        left: 30px;
        font-size: 35px;
        @include media-breakpoint-up(md) {left: 20px;font-size: 22px;}

    }
    &:hover{
        border: 1px solid $primary;
        color: $primary;
        background-color: transparent;
        &::before{color: $primary;}
    }
}