// colors
$white: #FFFFFF;
$primary: #b22123;
$secondary: #270d05;
$black-light: #280d05;
$black-extra: #301710;
$black-extraBold: #290d05;
$black: #000000;
$red: #a37a45;
$red-extraLight: #ff916a;
$white-extraLight: #f3eee9;

$headerBG: rgb(88, 57, 46, .7);