%sectionTilte {
    font-size: 40px;
    line-height: 33.37px;
    color: #270d05;
    padding: 40px 53px 41px 53px;
    border: 1px solid #270d05;
    border-left: 0;
    border-right: 0;

    span {
        color: #b22123;
    }
}

%sectionSubtitle {
    font-size: 20px;
    line-height: 33.73px;
    color: #280d05;
    font-weight: bold;
    margin: 0px;
}

%cardTitle {
    font-size: 40px;
    line-height: 33.73px;
    font-weight: 700;
    color: #301710;
}

%cardTitleNumber {
    font-size: 73.73px;
    line-height: 62.21px;
    font-weight: 900;
    color: #b22223;
}

%cardSubTitle {
    font-size: 28px;
    line-height: 33.73px;
    font-weight: 600;
    color: #b22123;
}

%card-desc {
    font-size: 34px;
    line-height: 33.73px;
    font-weight: 600;
    color: #301710;
}

%descPin {
    font-size: 20px;
    line-height: 33.73px;
    color: #301710;
    font-weight: 500;
}

%btnStyled {
    width: 100%;
    height: 90px;
    line-height: 90px;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 24px;
    font-weight: 500;
    border-radius: 10px;
    display: block;
}

%middleshape {
    width: 1px;
    height: 90px;
    background: #63372a;
    margin: 0 60px;
}

%contactNumber {
    font-size: 60px;
    font-weight: 300;
    line-height: 50px;
    color: #b22123;
    margin-bottom: 0px;
}

%contactShedule {
    font-size: 18px;
    line-height: 33.73px;
    font-weight: 300;
    color: #280d05;
    margin-bottom: 0;
}
%footerTop-Title{
    font-size: 30px;
    line-height: 36px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 25px;
    border-bottom: 1px solid #fff;
    padding-bottom: 33px;
}
%TitleDesc{
    font-size: 18px;
    line-height: 36px;
    color: #fff;
    font-weight: 300;
}
%footerInner-TextTitle{
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    color: #e6be96;
}
%textInnerDesc{
    font-size: 18px;
    line-height: 36px;
    color: #fff;
    font-weight: 300;
}
%innertext-ListItem{
    font-size: 18px;
    line-height: 36px;
    color: #fff;
    font-weight: 300;
}
