.header-section {
    background-color: $headerBG;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 90px;
    transition: all .5s ease-in 0s;
    .head-wrapper{
        max-width: 1680px;
    margin: 0 auto; 
    padding: 0 90px 0 30px;
    @include media-breakpoint-up(md) {
        padding: 0px;
}
    }
    @include media-breakpoint-up(md) {
        padding-left: 15px;
    padding-right: 15px;
    height: 70px;
  
}
@include media-breakpoint-up(md) {
    padding-left: 10px;
padding-right: 10px;
}
    &.fixed {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
        background-color: rgb(88, 57, 46, 1);
    }

    .head-wrapper {
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        @include media-breakpoint-up(md) {
            justify-content: space-between;}
        .header-logobox {
            margin-top: 72px;
                display: block;
                @include media-breakpoint-up(md) {
                margin-top: 50px;
                width: 150px;}
                img {
                    width: 100%;
                }

        }

        .header-mainmenubox {

            .header-menu {
                @include media-breakpoint-up(md) {
                    position: fixed;
                    left: 100%;
                    top: 0;
                    width: 100%;
                    height: auto;
                    display: block;
                    background: transparent;
                    overflow-x: hidden;
                    overflow-y: auto;
                    -webkit-overflow-scrolling: touch;
                    transition: all .65s;
                    z-index: 3;
                }

                ul.menubarMenu {
                    @include media-breakpoint-up(md) {
                        position: relative;
                        top: 50%;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%);
                        width: 100%;
                        opacity: 0;
                        pointer-events: none;
                        visibility: hidden;
                    }

                    li {
                        margin-left: 220px;
                        @include media-breakpoint-up(maciosbook) {   margin-left: 150px; }
                        @include media-breakpoint-up(maciosbookpro) { margin-left: 90px; }
                        @include media-breakpoint-up(lg) { margin-left: 75px; padding: 0 ; }
                        @include media-breakpoint-up(md) { margin-left: 0px; padding: 1rem 0 ; }
                      
                        &~li{
                            margin-left: 105px;
                            @include media-breakpoint-up(maciosbook) { 
                                margin-left: 75px;
                            }
                        @include media-breakpoint-up(maciosbookpro) { margin-left: 40px; }
                        @include media-breakpoint-up(lg) { margin-left: 25px; padding: 0 ; }

                        @include media-breakpoint-up(md) { margin-left: 0px; padding: 1rem 0 ; }

                        }
                        &:nth-child(2)
                        &:nth-child(3)
                        {
                          margin-left: 95px;
                          @include media-breakpoint-up(maciosbook) { 
                            margin-left: 50px;
                        }
                        @include media-breakpoint-up(maciosbookpro) { margin-left: 30px; }
                        @include media-breakpoint-up(lg) { margin-left: 30px; padding: 0 ; }

                        @include media-breakpoint-up(md) { margin-left: 0px; padding: 1rem 0 ; }

                        }
                        list-style: none;

                        &:last-child {
                            padding-right: 0;
                        }
                        @include media-breakpoint-up(lg) {
                            padding: 0 .8rem;

                            }
                        @include media-breakpoint-up(md) {
                            display: block;
                            padding: 1rem 0rem;
                            margin: 0;
                            text-align: center;
                            z-index: 999;
                            position: relative;
                        }

                        a {
                            font-size: .9rem;
                            color: rgba(255,255,255, .9);
                            text-decoration: none;
                            transition: all .3s;
                            line-height: 1.8;
                            font-family: $Text-font-HiraginoMin-Pro;font-weight: 300;
                            &:hover{ color: rgba(255,255,255, 1);}

                            @include media-breakpoint-up(lg) {
                            font-size: .7rem;
                            }
                                @include media-breakpoint-up(md) {
                                    font-size: .9rem;

                                color: $white;
                            }
                        }
                    }
                }
            }
            @include media-breakpoint-up(md) {
                #mask {
                    display: block;
                    position: fixed;
                    top: 0;
                    left: 100%;
                    width: 100%;
                    height: 100%;
                    background: rgba(39, 13, 5, .9);
                    z-index: 2;
                    cursor: pointer;
                    transition: all .45s;
                }
                &.open {
                    .toggle_btn {
                        background-color: $white;
                        span {
                            background-color: $black-extraBold;
                            &:nth-child(1) {
                                transform: translateY(1.5px) rotate(45deg);
                                top: 24px
                            }

                            &:nth-child(2) {
                                display: none
                            }

                            &:nth-child(3) {
                                transform: translateY(-4px) rotate(-45deg);
                                bottom: 21.5px
                            }
                        }

                    }
                    #mask {
                   
                        @include media-breakpoint-up(md) {
                        left: 0%;
                        }
                    }
                    
            .header-menu {
                    height: 100vh;
                    display: block;
                    left: 0;
            }
                    ul.menubarMenu {opacity: 1;visibility: visible;pointer-events: painted;}
                }
            }


            @include media-breakpoint-up(md) {
                
                .toggle_btn {
                    display: block;
                    width: 50px;
                    height: 50px;
                    transition: all .5s;
                    cursor: pointer;
                    z-index: 9999;
                    background-color: $black-extraBold;
                    border-radius: 4px;
                    position: relative;

                    span {
                        display: block;
                        position: absolute;
                        left: 15px;
                        width: 20px;
                        height: 1px;
                        background-color: $white;
                        border-radius: 4px;
                        transition: all .5s;

                        &:nth-child(1) {
                            top: 18px
                        }

                        &:nth-child(2) {
                            top: 24px
                        }

                        &:nth-child(3) {
                            top: 30px
                        }
                    }

                }
            }
        }
    }
}